@import "~bootstrap/scss/bootstrap.scss";


body{
   background: rgb(1,9,18);
background: radial-gradient(circle, rgba(1,9,18,1) 76%, rgba(32,166,29,1) 97%);
}

h1 {
    margin:0%;
    text-align:center;
    margin-top: 30px;
    font-size: 55px;
    color: rgba(94, 198, 247, 0.938);
}
//our main container
.App-content {
    padding-top: 10px;
   background: rgb(46,195,34);
    background: linear-gradient(90deg, rgba(46,195,34,1) 48%, rgba(49,253,45,0.981127485173757) 58%);
    width: 700px;
   border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
    box-shadow:  0px 15px 20px rgb(46,195,34);
    text-align: center;
    margin: auto;
    margin-top: 0px;
    border:rgb(46,195,34);
   
}



//where we enter our todo 
form input {
  height: 35px;
  border-radius: 10px;
  border: rgba(94, 198, 247, 0.938);
  display: flex;
  background: rgba(94, 198, 247, 0.938);
  //centers both vertically and horizantally because parent is flex
  vertical-align: auto;
}



form button {
  cursor: pointer;
  display: inline-block;
  
  text-decoration: none;
  margin: 2px 0;
  border: solid 1px transparent;
  border-radius: 4px;
  color: #ffffff;
  background-color: rgba(94, 198, 247, 0.938);
  height: 50px;
  width: 120px;
}

h5 {
  margin: 0;
  padding-right: 10px;
  font-size: 15px; 
  padding-top: 5px;
  padding-left: 45px;
}


.line{
    width: 100%;
    border-bottom: 1px solid rgb(177, 178, 179) ;
}
//
.list {
  display: flex;
  margin: 5px;
  flex-direction: row;
 
}

//gets todo and button on same line
.todo{
    display:flex;
    padding: 3px;
    width: 100%;
}

//button initially hidden
.todo .btn-delete{
    display:none;
}

//display when hovering
.todo:hover .btn-delete{
    display: inline-block;

}


//number of items in todo list
.items-left{
    margin-right: auto;
    font-size: 13px;
    padding-left: 8px;
    padding-top: 4px;
}


.btn-delete {
  
   cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border: solid 1px transparent;
  border-radius: 4px;
  background-color: rgba(94, 198, 247, 0.938);
  height: 15px;
  width: 15px;
  font-size: 7px;
  margin-left: auto;
  margin-right: 25px;
}
